/* .video-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    padding: 10px;
}
.video{
    min-width: 100%;
    max-height: 300px;
    object-fit: cover;
} */


.video-container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* screen ko 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* screen ko 2 rows */

  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.video {
  width: 100%;
  height: 47vh;
  object-fit: cover;   /* video ko box ke andar fit karta hai */
  background-color: black;
}
