/* animation for flip the signup container */
.animate__animated.animate__flipInY {
  --animate-duration: 2s;
}

/* Start */

.signup {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 140px 0 70px 0;
  overflow: hidden;
  background: transparent;
}

.signup::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-gradiant-color);
  /* filter: blur(10px); */
  opacity: 0.6;
  z-index: -1;
}

.signup.scrolled {
  opacity: 0.8;
}

.signup-container {
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 11px 25px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}

.logo-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: 100px;
  height: 111px;
  object-fit: cover;
  object-position: top;
}

.signup-container h2 {
  margin-top: 5px;
  font-size: 30px;
  color: black;
}

.signup-container p {
  font-size: 15px;
  margin: 0px 0px 5px 5px;
  color: rgb(12, 12, 12);
}

.input-fields{
  margin-bottom: 8px;
}

.input-fields input,
button,
.password-field-handler {
  width: 100%;
  padding: 10px 13px;
  border-radius: 26px;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 12px;
  background: #f9fafb;
  
}

/* .input-fields input:focus {
  border-color: #3a78d4;
  box-shadow: 0 0 5px rgba(58, 120, 212, 0.4);
} */

.password-field-handler {
  display: flex;
  align-items: center;
  padding: 0;
}

.password-field-handler input[type="password"],
.password-field-handler input[type="text"] {
  font-size: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  color: black;
  border: none;
  box-shadow: none;
  background: transparent;
  width: 100%;
  position: relative;
}

.password-field-handler span {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  position: absolute;
  right: 25px;
}
/* error message here */
.error-msg {
  color: red;
  margin: 0px 0px 0px 5px;
  font-size: 13px;
}

.password-field-handler:focus {
  border-color: #3a78d4;
}

.get-start {
  margin-top: 7px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

.get-start:hover {
  opacity: 0.9;
}

.input-container {
  margin-top: 20px;
}

.change-link {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.change-link span {
  color: #2563eb;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .signup-container {
    min-width: 0;
    max-width: 90%;
  }

  .signup-container h2 {
    font-size: 20px;
  }

  .signup-container p {
    font-size: 10px;
  }
}

/* End */
